{% extends "base.html.twig" %}

{% block title %}
    Création Article
    {{parent()}}
{% endblock %}

{% block body %}
    <section class="container">
        <h1>Création d'un article</h1>
        {% include 'Admin/Article/_form.html.twig' with { buttonLabel: "Créer" } %}
    </section>
{% endblock %}