{% extends "base.html.twig" %}

{% block title %}
    Modification Article
    {{parent()}}
{% endblock %}

{% block body %}
    <section class="container">
        <h1>Modification d'un article</h1>
        {% include 'Admin/Article/_form.html.twig' with {buttonLabel : "Modifier" } %}
    </section>
{% endblock %}